@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #fffdeb;
		--foreground: #66678c;

		--card: 0 0% 8%;
		--card-foreground: 0 0% 88%;

		--popover: 0 0% 8%;
		--popover-foreground: 0 0% 88%;

		--primary: #66678c;
		--primary-foreground: #66678c;

		--secondary: 0 0% 11%;
		--secondary-foreground: 0 0% 88%;

		--muted: 0 0% 18%;
		--muted-foreground: 0 0% 46%;

		--accent: 300 100% 50%;
		--accent-foreground: 0 0% 4%;

		--destructive: 0 100% 60%;
		--destructive-foreground: 0 0% 4%;

		--border: #66678c;
		--input: 0 0% 11%;
		--ring: 180 100% 50%;

		--radius: 0.75rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/******************************************* 
  Rich Text Styles
*******************************************/

/* Headers */
.rich-text h1 {
	@apply mb-4 text-4xl font-bold text-primary;
}

.rich-text h2 {
	@apply mb-4 text-3xl font-bold text-primary;
}

.rich-text h3 {
	@apply mb-4 text-2xl font-bold text-primary;
}

.rich-text h4 {
	@apply mb-4 text-xl font-bold text-primary;
}

.rich-text h5 {
	@apply mb-4 text-lg font-bold text-primary;
}

.rich-text h6 {
	@apply mb-4 text-base font-bold text-primary;
}

/* Horizontal rules */
.rich-text hr {
	@apply my-8 border-accent-foreground;
}

.rich-text a {
	@apply text-primary underline;
}

/* Typographic replacements */
.rich-text p {
	@apply mb-4 text-lg text-muted-foreground;
}

/* Emphasis */
.rich-text strong {
	@apply font-bold text-gray-300;
}

.rich-text em {
	@apply italic;
}

.rich-text del {
	@apply line-through;
}

/* Blockquotes */
.rich-text blockquote {
	@apply mb-4 border-l-4 border-accent-foreground py-2 pl-4;
}

/* Lists */
.rich-text ul {
	@apply mb-4 list-disc pl-4;
}

.rich-text ol {
	@apply mb-4 list-decimal pl-4;
}

.rich-text li {
	@apply mb-2 text-muted-foreground;
}

.rich-text li > ul {
	@apply mb-2 list-disc pl-4;
}

.rich-text li > ol {
	@apply mb-2 list-decimal pl-4 text-muted-foreground;
}

/* Code blocks */
.rich-text pre {
	@apply my-6 rounded bg-gray-900 p-4 font-mono text-gray-200;
}

.rich-text code {
	@apply rounded bg-gray-900 px-2 py-1 font-mono text-gray-200;
}

/* Tables */
.rich-text table {
	@apply my-6 w-full border-collapse border-gray-300;
}

.rich-text th {
	@apply border-b border-gray-300 bg-gray-900 px-4 py-2 text-left font-semibold;
}

.rich-text td {
	@apply border-b border-gray-300 px-4 py-2;
}

/* Images */
.rich-text img {
	@apply my-6 w-full rounded-xl object-cover;
}

/* Custom containers */
.rich-text .warning {
	@apply mb-4 rounded-lg border-yellow-500 bg-yellow-100 px-4 py-2 text-yellow-700;
}

.striped {
	background: repeating-linear-gradient(
		-45deg,
		var(--background) -10px,
		var(--background) 2px,
		var(--border) 3px,
		var(--border) 3px
	);
}

.gradient-mask {
	width: fit-content;
	background: -webkit-linear-gradient(0deg, #af527d, #784b8f);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.active-link {
	border-top: 2px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	background: var(--background);
	z-index: 1;
	cursor: normal;
}

.link {
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	cursor: pointer;
}

.link:hover {
	background: -webkit-linear-gradient(0deg, #af527d, #784b8f);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

svg:hover {
	stroke: #af527d;
}

.content {
	position: relative;
	border: 2px solid;
	top: -2px;
}

.content:before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
}
